/sample/Debug/
/sample/Drivers/axradio/
/sample/.mxproject
/sample/mx.scratch
/sample/sampleL0.xml
/axradio/bin/
/axradio/obj/
/.metadata/
settings/
sample/sampleL0/
sample/Backup of sample.ewd
sample/Backup of sample.ewp
sample/Backup of sample.ewt
