/sample/Debug/
/sample/Drivers/axradio/
/sample/.mxproject
/sample/mx.scratch
/sample/sampleL0.xml
/axradio/bin/
/axradio/obj/
/.metadata/
settings/
sample/sampleL0/
sample/Backup of sample.ewd
sample/Backup of sample.ewp
sample/Backup of sample.ewt
sample/sample.dep
DevKit-STM32-AX5043/EWARM/DevKit-STM32-AX5043/
DevKit-STM32L-AX5043/EWARM/DevKit-STM32-AX5043/Exe/DevKit-STM32-AX5043.hex
DevKit-STM32L-AX5043/EWARM/DevKit-STM32-AX5043/Exe/
DevKit-STM32L-AX5043/EWARM/DevKit-STM32-AX5043/Obj/
Reference_design_STM32L-AX5043/Debug/
Reference_design_STM32L-AX5043/sample.dep
DevKit-STM32L-AX5043/EWARM/DevKit-STM32-AX5043.dep
DevKit-STM32L-AX5043/EWARM/DevKit-STM32-AX5043/List/DevKit-STM32-AX5043.map
